body{
    background-color: #F7ECDE;
}
.row{
    border-top: 2px #352e28 dotted;
    border-bottom: 2px #352e28 dotted;
}

.submit{
    width: 10%;
}

.btn-visit a{
   text-decoration: none;
   color: white; 
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #d99c39;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #fec26055;
}



h1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    position: relative;
}

h1::before{
    content: "";
    position: absolute;
    width: 100%;
    background-color: #fec260;
    height: 40%;
    bottom: 0;
    opacity: .8;
    z-index: -1;
    transition: 0.4s all;
}

h1:hover::before{
    height: 70%;
}   



h2{
    font-family: "Righteous", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(100,121,9,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

label {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-style: normal;
}

table thead th{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 700;
    font-style: normal;
}

table tbody th{
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
    font-style: normal;
}

::-moz-selection { 
    background:#fec260;
  }
  
  ::selection {
    background: #fec260;
  }


.layer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
}  

.circles span{
    width: 20px;
    height: 20px;
    display: block;
    background-color: red;
}

.message{
    border-radius: 0.5rem;
    width: 30%;
}

.message p{
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(53, 46, 40)    ;
    font-size: 1.3rem;
}

.message ul{
    color: rgb(33, 37, 41);
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    list-style-type: none ;
    padding: 0;
}

@media screen and (max-width:1150px) {
    .message{
        width: 50%;
    }
}